<ul>
    {{#each todos}}
      <li>
          <input type="checkbox" {{#if this.done}}checked{{/if}}> 
          <span class="{{#if this.done}}checked{{/if}}">{{this.text}}</span>
      </li>
    {{/each}}
</ul>